<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <td>账号</td>
      <td>可提现余额</td>
      <td>总收入</td>
      <td>总提现</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{account}}</td>
      <td>{{d100 rmb}}元</td>
      <td>{{d100 rmb_in}}元</td>
      <td>{{d100 rmb_out}}元</td>
    </tr>
  </tbody>
</table>

<form action="{{API}}info/" method="post" enctype="multipart/form-data" class="form-horizontal ajax" id="profile-form">
  <div class="alert alert-msg" style="display: none"></div>
  <fieldset>
    <div class="form-group">
      <label class="control-label col-sm-2" for="publisher_name">渠道名称</label>
      <div class="col-sm-10">
        <input type="text" name="publisher_name" id="publisher_name" class="form-control" value="{{publisher_name}}" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2">渠道类型</label>
      <div class="col-sm-10 select-button">
        <input type="radio" name="publisher_type" class="toggle" value="1" {{#equal publisher_type 1}}checked="checked"{{/equal}} id="publisher_type-1" data-class="personal" >
        <label for="publisher_type-1">个人</label>
        <input type="radio" name="publisher_type" class="toggle" value="2" {{#equal publisher_type 2}}checked="checked"{{/equal}} id="publisher_type-2" data-class="corp" >
        <label for="publisher_type-2">公司</label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="telephone">联系方式</label>
      <div class="col-sm-10">
        <input type="text" name="telephone" id="telephone" class="form-control" value="{{telephone}}" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="qq">QQ</label>
      <div class="col-sm-10">
        <input type="text" name="qq" id="qq" class="form-control" value="{{qq}}" required />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="user_name">姓名</label>
      <div class="col-sm-10">
        <input type="text" name="user_name" id="user_name" class="form-control" value="{{user_name}}" required="required"/>
      </div>
    </div>
    <div class="form-group corp {{#equal publisher_type 1}}hide{{/equal}}">
      <label class="control-label col-sm-2" for="business_license">营业执照扫描件</label>
      <div class="col-sm-6 uploader" data-url="{{API}}file/" data-accept="image/*" data-name="pic_path">
        {{#if business_license}}
          <div class="su-item">
            <img src="{{UPLOAD}}{{business_license}}" class="img-thumbnail">
          </div>
        {{else}}
          <div class="su-placeholder" data-initial="请上传JPG文件，以能看清内容为宜。" data-progress="上传图片中.."></div>
        {{/if}}
        <label class="btn btn-info btn-block su-upload-button">
          <i class="fa fa-image"></i> 选择营业执照扫描件并上传。
        </label>
        <p class="help-block">
          为不影响结算，请务必上传贵司清晰的运营执照扫描件。
        </p>
        <input type="hidden" name="business_license" value="{{business_license}}" class="su-url">
      </div>
    </div>
    <div class="form-group personal {{#equal publisher_type 2}}hide{{/equal}}">
      <label class="control-label col-sm-2" for="identity">身份证号码</label>
      <div class="col-sm-10">
        <input type="text" name="identity" id="identity" class="form-control" value="{{identity}}"/>
      </div>
    </div>
    <div class="form-group personal {{#equal publisher_type 2}}hide{{/equal}}">
      <label class="control-label col-sm-2" for="identity_pic">身份证扫描件正面</label>
      <div class="col-sm-6 uploader" data-url="{{API}}file/" data-accept="image/*" data-name="pic_path">
        {{#if identity_pic}}
          <div class="su-item">
            <img src="{{UPLOAD}}{{identity_pic}}" class="img-thumbnail">
          </div>
        {{else}}
          <div class="su-placeholder" data-initial="请上传JPG文件，以能看清内容为宜。" data-progress="上传图片中.."></div>
        {{/if}}
        <label class="btn btn-info btn-block su-upload-button">
          <i class="fa fa-image"></i> 选择身份证扫描件正面件并上传。
        </label>
        <p class="help-block">
          为不影响结算，请务必上传本人清晰的身份证正面扫描件。
        </p>
        <input type="hidden" name="identity_pic" value="{{identity_pic}}" class="su-url">
      </div>
    </div>
    <div class="form-group personal {{#equal publisher_type 2}}hide{{/equal}}">
      <label class="control-label col-sm-2" for="identity_pic_back">身份证扫描件背面</label>
      <div class="col-sm-6 uploader" data-url="{{API}}file/" data-accept="image/*" data-name="pic_path">
        {{#if identity_pic_back}}
          <div class="su-item">
            <img src="{{UPLOAD}}{{identity_pic_back}}" class="img-thumbnail">
          </div>
        {{else}}
          <div class="su-placeholder" data-initial="请上传JPG文件，以能看清内容为宜。" data-progress="上传图片中.."></div>
        {{/if}}
        <label class="btn btn-info btn-block su-upload-button">
          <i class="fa fa-image"></i> 选择身份证扫描件反面件并上传。
        </label>
        <p class="help-block">
          为不影响结算，请务必上传本人清晰的身份证反面扫描件。
        </p>
        <input type="hidden" name="identity_pic_back" value="{{identity_pic_back}}" class="su-url">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="bank_name">开户行</label>
      <div class="col-sm-10">
        <input type="text" name="bank_name" id="bank_name" class="form-control" value="{{bank_name}}" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="province">开户行所在省</label>
      <div class="col-sm-10">
        <select name="province" id="province" class="form-control">
          {{#each provinces}}
          <option value="{{.}}">{{.}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="city">开户行所在市</label>
      <div class="col-sm-10">
        <select name="city" id="city" class="form-control">

        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="bank_address">具体支行</label>
      <div class="col-sm-10">
        <input type="text" name="bank_address" id="bank_address" class="form-control" value="{{bank_address}}" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="card_number">银行卡号</label>
      <div class="col-sm-10">
        <input type="text" name="card_number" id="card_number" class="form-control" value="{{card_number}}" required="required"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="comment">说明</label>
      <div class="col-sm-10">
        <input type="text" name="comment" id="comment" class="form-control" value="{{comment}}"/>
      </div>
    </div>
    {{^edit}}
    <div class="form-actions col-sm-offset-2">
      <button class="btn btn-primary" type="submit">提交</button>
    </div>
    {{/edit}}
    {{#edit}}
    <div class="alert">
        <p>您的上一个修改申请还在审核中，暂时不能进行再次修改，请耐心等候，或联系点乐对接商务处理。</p>
        <p>下表为您上次的修改内容：
            <a href="action_publisher.php?m=del_edit&id={{id}}" class="btn btn-danger"><i class="icon-remove icon-white"></i> 取消这次申请</a>
        </p>
    </div>
    <table class="table table-bordered table-striped">
      <tr>
        <td>渠道名称</td>
        <td>{{publisher_name}}</td>
      </tr>
      <tr>
        <td>渠道类型</td>
        <td>{{publisher_type}}</td>
      </tr>
      <tr>
        <td>联系方式</td>
        <td>{{telephone}}</td>
      </tr>
      <tr>
        <td>QQ</td>
        <td>{{qq}}</td>
      </tr>
      <tr>
        <td>姓名</td>
        <td>{{user_name}}</td>
      </tr>
      <tr class="{{#equal publisher_type 2}}hide{{/equal}}">
        <td>身份证号码</td>
        <td>{{identity}}</td>
      </tr>
      <tr>
        <td>开户行</td>
        <td>{{bank_name}}</td>
      </tr>
      <tr>
        <td>开户行所在省</td>
        <td>{{province}}</td>
      </tr>
      <tr>
        <td>开户行所在市</td>
        <td>{{city}}</td>
      </tr>
      <tr>
        <td>具体支行</td>
        <td>{{bank_address}}</td>
      </tr>
      <tr>
        <td>银行卡号</td>
        <td>{{card_number}}</td>
      </tr>
      <tr>
        <td>说明</td>
        <td>{{comment}}</td>
      </tr>
      <tr class="{{#equal publisher_type 2}}hide{{/equal}}">
        <td>身份证扫描件正面</td>
        <td>
          {{#if identity_pic}}
          <img class="preview img-polaroid" alt="身份证扫描件正面" src="{{UPLOAD}}{{identity_pic}}" height="40" />
          {{else}}
          没有上传新图片
          {{/if}}
        </td>
      </tr>
      <tr class="{{#equal publisher_type 2}}hide{{/equal}}">
        <td>身份证扫描件反面</td>
        <td>
          {{#if identity_pic_back}}
          <img class="preview img-polaroid" alt="身份证扫描件反面" src="{{UPLOAD}}{{identity_pic_back}}" height="40" />
          {{else}}
          没有上传新图片
          {{/if}}
        </td>
      </tr>
      <tr class="{{#equal publisher_type 1}}hide{{/equal}}">
        <td>营业执照扫描件</td>
        <td>
          {{#if business_license}}
          <img class="preview img-polaroid" alt="营业执照扫描件" src="{{UPLOAD}}{{business_license}}" height="40" />
          {{else}}
          没有上传新图片
          {{/if}}
        </td>
      </tr>
      <tr>
        <td>修改时间</td>
        <td>{{create_time}}</td>
      </tr>
    </table>
    {{/edit}}
  </fieldset>
</form>

<div id="proper">
  <img id="im" class="img-polaroid" src="" />
</div>