<form action="{{API}}apply/" method="post" class="ajax" data-mediator-class="pub.page.CreateApply">
  <legend>申请汇款</legend>
  {{#if warning}}
  <div class="tab-pane alert alert-warning active" id="notice">
    <p>
      您当前的基本信息不够完善，暂时不能提现，请先在右上角的基本信息中补充完整后再行提现。
    </p>
  </div>
  {{/if}}
  {{#if interval}}
  <div class="tab-pane alert alert-warning active" id="notice">
    <p>
      本次结算周期您已经申请提现过，请于下次提现周期再申请。
    </p>
  </div>
  {{/if}}
  <div class="alert alert-msg" style="display: none"></div>
  <table class="table table-bordered table-striped">
    <tr>
      <td>姓名：</td>
      <td>
        {{user_name}}
      </td>
    </tr>
    <tr>
      <td>身份证号码：</td>
      <td>{{identity}}</td>
    </tr>
    <tr>
      <td>开户行：</td>
      <td>{{bank_name}}</td>
    </tr> 
    <tr>
      <td>开户行地址：</td>
      <td>{{bank_address}}</td>
    </tr>
    <tr>
      <td>银行卡号：</td>
      <td>{{card_number}}</td>
    </tr>
    <tr>
      <td>可提现余额：</td>
      <td>{{d100 rmb}}元</td>
    </tr>
    <tr>
      <td>提现：</td>
      <td class="form-inline">
        <div class="input-group">
          <input type="number" name="apply" step="1" value="{{d100 rmb}}" class="form-control" min="100" max="{{rmb}}" required/>
          <span class="input-group-addon">元，税后可得&yen;<strong class="text-danger">{{d100 after_tax}}</strong>元</span>
        </div>
        <a href="page/popup/tax-info.md" class="popup" title="计税规则" data-cancel="关闭">计税规则</a>
        <p class="help-block">
          请仔细核对以上信息。最少提现100元，您最多可以提现{{d100 rmb}}元。
        </p>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button class="btn btn-primary btn-lg" {{#if warning}}disabled{{else if interval}}disabled{{/if}}>提交</button>
        <a href="#/my/profile/" class="ml2e fa fa-edit">修改个人信息</a>
      </td>
    </tr>
  </table>
</form>  

<div class="well">
  <h3>结算说明</h3>
  <ol>
    <li>账户余额满100元即可申请取款。</li>
    <li>每月7日24点前申请取款，每月8日审核，如遇节假日顺延。</li>
    <li>审核通过后5个工作日内将相应款项汇入登记帐户。</li>
    <li>若收款方为个人账户，汇款时将代扣20%的劳务个税；</li>
    <li>若收款方为对公账户，需要在汇款之前开具相应金额的增值税专用发票，发票内容为“信息服务费”。</li>
    <li>首次结算之前，对公渠道务必签订书面的《业务合作合同》，请联系您对接的点乐平台渠道经理进行签订。对私渠道务必签订书面的《授权协议》，请下载此协议打印签字后直接寄至公司地址：北京市西城区裕民东路3号京版信息港5层，如有问题请联系您对接的点乐平台渠道经理。</li>
    <li>若收款方为对公账户，请于申请成功之后两周内提供增值税专用发票，在申请成功之后两周内未能提供发票的该申请将会被拒绝，所申请的金额将会回到您在点乐的账户里，需要重新提交取款申请。</li>
  </ol>
  <p><a href="/assets/publisher_auth.doc" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-download"></i> 点击下载《授权协议》</a></p>
</div>