<form action="action_publisher.php" method="post" class="form-horizontal">
  <legend>申请汇款</legend>
  <input type="hidden" name="m" value="apply" />
    {{^no_warning}}
    <div class="tabbale tabs-below">
        <div class="img-rounded img-polaroid tab-content" id="dashboard-chart">
            <div class="tab-pane alert alert-warning active" id="notice">
                <p>
                    您当前的基本信息不够完善，暂时不能提现，请先在右上角的基本信息中补充完整后再行提现。
                </p>
            </div>
        </div>
    </div>
    {{/no_warning}}
    {{^interval}}
    <div class="tabbale tabs-below">
        <div class="img-rounded img-polaroid tab-content" id="dashboard-chart">
            <div class="tab-pane alert alert-warning active" id="notice">
                <p>
                    本次结算周期您已经申请提现过，请于下次提现周期再申请。
                </p>
            </div>
        </div>
    </div>
    {{/interval}}
  <table class="table table-bordered table-striped">
    <tr>
      <td>姓名：</td>
      <td>
        {{user_name}}
      </td>
    </tr>
    <tr>
      <td>身份证号码：</td>
      <td>{{identity}}</td>
    </tr>
    <tr>
      <td>开户行：</td>
      <td>{{bank_name}}</td>
    </tr> 
    <tr>
      <td>开户行地址：</td>
      <td>{{bank_address}}</td>
    </tr>
    <tr>
      <td>银行卡号：</td>
      <td>{{card_number}}</td>
    </tr>
    <tr>
      <td>可提现余额：</td>
      <td>{{rmb}}元</td>
    </tr>
    <tr>
      <td>是否提供发票：</td>
      <td>
        <div class="input-append">
            <label class="radio inline">
              <input type="radio" name="has_invoice" value="0" {{^is_company}}checked="checked"{{/is_company}}/> 不提供(将代扣6%税款)
            </label>
            <label class="radio inline">
              <input type="radio" name="has_invoice" value="1" {{#is_company}}checked="checked"{{/is_company}}/> 提供
            </label>
          </div>
      </td>
    </tr>
    <tr>
      <td>提现：</td>
      <td>
        <div class="input-append">
          <input type="number" name="apply" id="apply" required="true" step="any" value="{{rmb}}" class="input-medium" max="{{rmb}}"/>
          <span class="add-on">元</span>
          <a href="page/popup/tax-info.md" class="popup">计税规则</a>
        </div>
        <p class="help-block">
          请仔细核对以上信息，最多提现为{{rmb}}元。
        </p>
      </td>
    </tr>
  </table>
  <div class="form-actions">
    <button class="btn btn-primary" type="submit"{{^apply}} disabled="true"{{/apply}}>提交</button>
  </div>
</form>  

<div class="well">
  <h3>结算说明</h3>
  <ol>
    <li>账户余额满100元即可申请取款。</li>
    <li>每月7日24点前申请取款，每月8日审核，如遇节假日顺延。</li>
    <li>审核通过后5个工作日内将相应款项汇入登记帐户。</li>
    <li>若收款方为个人账户，汇款时将代扣20%的劳务个税；</li>
    <li>若收款方为对公账户，需要在汇款之前开具相应金额的增值税专用发票，发票内容为“信息服务费”。</li>
    <li>首次结算之前，对公渠道务必签订书面的《业务合作合同》，请联系您对接的点乐平台渠道经理进行签订。对私渠道务必签订书面的《授权协议》，请下载此协议打印签字后直接寄至公司地址：北京市西城区裕民东路3号京版信息港5层，如有问题请联系您对接的点乐平台渠道经理。</li>
    <li>若收款方为对公账户，请于申请成功之后两周内提供增值税专用发票，在申请成功之后两周内未能提供发票的该申请将会被拒绝，所申请的金额将会回到您在点乐的账户里，需要重新提交取款申请。</li>
  </ol>
  <p><a href="/assets/publisher_auth.doc" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-download"></i> 点击下载《授权协议》</a></p>
</div>