<div class="table-header">
  <form class="form-inline" action="#/stat/:start/:end">
    <div class="form-group">
      <label for="start">开始时间</label>
      <input id="start" name="start" value="{{start}}" class="datetimepicker form-control" data-default-date="{{start}}" data-format="{{format}}" />
    </div>
    <div class="form-group">
      <label for="end">结束时间</label>
      <input id="end" type="text" name="end" value="{{end}}" class="datetimepicker form-control" data-default-date="{{end}}" data-format="{{format}}" />
    </div>
    <div class="btn-group">
      <button class="btn btn-primary"><i class="fa fa-search"></i> 查询</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <span class="caret"></span>
        <span class="sr-only">下拉菜单</span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#/stat/{{week}}/{{yesterday}}">过去一周</a></li>
        <li><a href="#/stat/{{month}}/{{yesterday}}">过去一月</a></li>
        <li><a href="#/stat/{{month3}}/{{yesterday}}">过去三月</a></li>
      </ul>
    </div>
  </form>
</div>

<table class="table table-bordered table-striped smart-table" data-url="{{API}}stat/" data-ranger=".date-range" data-start="{{start}}" data-end="{{end}}">
  <thead>
  <tr>
    <th>广告名</th>
    <th>渠道号</th>
    <th>单价</th>
    <th>激活数</th>
    <th>收入</th>
    <th>详情</th>
  </tr>
  </thead>
  <tbody>
  <script type="text/x-handlebars-template">
    {{{{raw-helper}}}}
    <tr>
      <td>{{ad_name}}</td>
      <td>{{package_id}}</td>
      <td>{{out_rmb_yuan}}元</td>
      <td>{{num}}</td>
      <td>{{income_yuan}}元</td>
      <td>
        <a href="#/stat/{{id}}/{{start}}/{{end}}" class="btn btn-default" title="按时间统计"><i class="fa fa-clock-o"></i></a>
      </td>
    </tr>
    {{{{/raw-helper}}}}
  </script>
  </tbody>
  <tfoot class="waiting">
  <tr>
    <td colspan="6"><p align="center"><i class="fa fa-spinner fa-spin fa-2x"></i><br>加载中，请稍候</p></td>
  </tr>
  </tfoot>
</table>